# macOS
.DS_Store

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
tfplan
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Local variables
terraform.tfvars

# SSH Keys
*.pem